<style>
  /**
   * EasyZoom core styles
   */
  .easyzoom {
    position: relative;

    /* 'Shrink-wrap' the element */
    /*display: inline-block;*/
    *display: inline;
    *zoom: 1;
  }

  .easyzoom img {
    vertical-align: bottom;
  }

  .easyzoom.is-loading img {
    cursor: progress;
  }

  .easyzoom.is-ready img {
    cursor: crosshair;
    cursor: zoom-in;
  }

  .easyzoom.is-error  img {
    cursor: not-allowed;
  }

  .easyzoom-notice {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 150;
    width: 10em;
    margin: -1em 0 0 -5em;
    line-height: 2em;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px #888;
  }

  .easyzoom-flyout {
    position:absolute;
    z-index: 100;
    overflow: hidden;
    background: #FFF;
  }

  .easyzoom-flyout img{
    max-width:none;
    max-height:none;
  }

  /**
   * EasyZoom layout variations
   */
  .easyzoom--overlay .easyzoom-flyout {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .easyzoom--adjacent .easyzoom-flyout {
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin-left: 20px;
  }

  <% width,height = calculate_product_image_dimensions(@product) %>
  .easyzoom--adjacent .easyzoom-flyout{
    width:<%= width.to_s %>px;
    height:<%= height.to_s %>px;
  }

  <% diff = (@product.variant_images.first.attachment_width - @product.variant_images.first.attachment_height rescue 50)
    diff = diff * -1 if diff < 0
    if diff < 25 %>

  .product_main .easyzoom-overlay{
    width:320px;
    height:320px;
  }

  <% end %>
  .easyzoom-flyout{
    border:2px solid #eee;
    background:#fff;
    color:#333;
    position:absolute;
    top:0px;
    overflow:hidden;
    -moz-box-shadow:0 0 10px #777;
    -webkit-box-shadow:0 0 10px #777;
    box-shadow:0 0 10px #777;
    /* vertical and horizontal alignment used for preloader text */
    line-height:<% height/2 %>px;
    text-align:center;
    z-index:99999;
  }

</style>
<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div id="product-images" data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-1 col-sm-2" >
      <div id="thumbnails"  data-hook>
        <%= render partial: 'thumbnails' %>
      </div>
    </div>
    <div class="col-md-4 col-sm-5" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div  data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center easyzoom easyzoom--adjacent easyzoom--with-thumbnails">
              <a href="<%= @product.images.first.attachment.url(:large) %>">
                <%= product_image(@product, itemprop: "url") %>
              </a>
            </div>
          </div>
        </div>

        <div data-hook="product_properties">
          <%= render partial: 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render partial: 'promotions' %>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-sm-6" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
          <div>
            STYLE SKU: <%= @product.sku %>
          </div>
          <div class="well" itemprop="description" data-hook="description">
            <%= product_description(@product) %>
          </div>

          <div id="color-images" class=" five " data-hook="product_colors">
            <%= render partial: 'color_images' %>
          </div>

          <div id="cart-form" data-hook="cart_form">
            <%= render partial: 'cart_form' %>
          </div>
        </div>


      </div>
    </div>
  </div>
<% end %>
<script>
    // Instantiate EasyZoom instances
    var $easyzoom = $('.easyzoom').easyZoom();
    // Setup thumbnails example
    var api1 = $easyzoom.filter('.easyzoom--with-thumbnails').data('easyZoom');
    $('.thumbnails').on('click', 'a', function(e) {
        var $this = $(this);
        e.preventDefault();
        // Use EasyZoom's `swap` method
        api1.swap($this.data('standard'), $this.attr('href'));
    });
</script>
